<launch>
    <arg name="rplidar_mode"  default="rplidar_A1_A2" 
    doc="opt: rplidar_A1_A2, rplidar_A3, rplidar_S1, ls_M10"/>
    <arg name="slave_robot"             default=""/>

    <!-- 思岚雷达参数 -->
    <!--单角度分割-->
    <param name="/rplidarNode/angle_start"         type="double" value="0"  />   <!-- 扫描起始角度-->
    <param name="/rplidarNode/angle_end"           type="double" value="360"/>   <!-- 扫描结束角度-->
    <!-- <param name="/rplidarNode/angle_start"         type="double" value="270"/> -->   <!-- A1_moveit扫描起始角度-->
    <!-- <param name="/rplidarNode/angle_end"           type="double" value="90"/>  -->   <!-- A1_moveit扫描结束角度-->
    <!--<param name="/rplidarNode/angle_start"         type="double" value="315"/>-->   <!-- A2_moveit扫描起始角度-->
    <!--<param name="/rplidarNode/angle_end"           type="double" value="135"/>-->   <!-- A2_moveit扫描结束角度-->
    <!--<param name="/rplidarNode/angle_start"         type="double" value="250"/>-->   <!-- 服务机器人扫描起始角度-->
    <!--<param name="/rplidarNode/angle_end"           type="double" value="110"/>-->   <!-- 服务机器人扫描结束角度-->
    <param name="/rplidarNode/distance_min"        type="double" value="0"  /> <!-- 最小扫描距离-->
    <param name="/rplidarNode/distance_max"        type="double" value="30" /> <!-- 最大扫描距离-->
    <!--多角度分割-->
    <param name="/rplidarNode/is_parted"           type="bool"   value="false"/> <!--角度是否分割-->
    <param name="/rplidarNode/angle1_start"        type="double" value="40"/> <!--第一个屏蔽角度的起始角度-->
    <param name="/rplidarNode/angle1_end"          type="double" value="50"/> <!--第一个屏蔽角度的结束角度-->
    <param name="/rplidarNode/angle2_start"        type="double" value="130"/> <!--第二个屏蔽角度的起始角度--> 
    <param name="/rplidarNode/angle2_end"          type="double" value="140"/> <!--第二个屏蔽角度的结束角度--> 
    <param name="/rplidarNode/angle3_start"        type="double" value="220"/> <!--第三个屏蔽角度的起始角度-->
    <param name="/rplidarNode/angle3_end"          type="double" value="230"/> <!--第三个屏蔽角度的结束角度-->
    <param name="/rplidarNode/angle4_start"        type="double" value="310"/> <!--第四个屏蔽角度的起始角度-->
    <param name="/rplidarNode/angle4_end"          type="double" value="320"/> <!--第四个屏蔽角度的结束角度-->  
    <!-- 思岚雷达参数 -->


    <!-- 镭神雷达参数 -->
    <param name="/lsm10_v2/truncated_mode" value="0"/>    <!--0:不使用过滤 1:使用过滤-->
    <param name="/lsm10_v2/min_distance" type="double" value="0"/> <!--最小扫描距离-->
    <param name="/lsm10_v2/max_distance" type="double" value="30"/> <!--最大扫描距离-->
    <rosparam param="/lsm10_v2/disable_min">[0,30,60,90]</rosparam> <!--角度左值-->
    <rosparam param="/lsm10_v2/disable_max">[10,40,70,180]</rosparam> <!--角度右值-->
    <!-- 镭神雷达参数 -->

    <!-- 启动思岚A1/A2雷达 -->
    <group if="$(eval rplidar_mode == 'rplidar_A1_A2')">
        <include file="$(find wheeltec_multi)/launch/include/rplidar.launch" >
		<arg name="slave_robot" value="$(arg slave_robot)"/>
	</include>      
    </group>

    <!-- 启动思岚A3雷达 -->
    <group if="$(eval rplidar_mode == 'rplidar_A3')">
        <include file="$(find wheeltec_multi)/launch/include/rplidar_a3.launch" >
		<arg name="slave_robot" value="$(arg slave_robot)"/>
	</include>    
    </group>

    <!-- 启动思岚S1雷达 -->
    <group if="$(eval rplidar_mode == 'rplidar_S1')">
        <include file="$(find wheeltec_multi)/launch/include/rplidar_s1.launch" >
		<arg name="slave_robot" value="$(arg slave_robot)"/>
	</include>    
    </group>

    <!-- 启动镭神M10雷达 -->
    <group if="$(eval rplidar_mode == 'ls_M10')">
        <include file="$(find wheeltec_multi)/launch/include/lsm10_v2.launch" >
		<arg name="slave_robot" value="$(arg slave_robot)"/>
	</include>        
    </group>

</launch>
